/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-path: url("../images/cover-image-dark.png");

  --bg-color: var(--black);

  --title-color: var(--violet);
  --title-subcolor: var(--pink);

  --header-button-color: var(--pink);

  --section-title-color: var(--pink);

  --article-title-bg-color: var(--pink);
  --article-title-color: var(--black);

  --article-text-color: var(--pudra);

  --stylized-element-color: var(--pink);
}