/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --cover-path: url("../images/cover-image-light.png");

  --bg-color: var(--ligth-black);

  --title-color: var(--ligth-pudra);
  --title-subcolor: var(--ligth-pink);

  --header-button-color: var(--ligth-pink);

  --section-title-color: var(--ligth-pink);

  --article-title-bg-color: var(--ligth-pink);
  --article-title-color: var(--ligth-black);

  --article-text-color: var(--ligth-black);

  --stylized-element-color: var(--ligth-black);

  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-path: url("../images/cover-image-light.png");

    --bg-color: var(--ligth-black);

    --title-color: var(--ligth-pudra);
    --title-subcolor: var(--ligth-pink);

    --header-button-color: var(--ligth-pink);

    --section-title-color: var(--ligth-pink);

    --article-title-bg-color: var(--ligth-pink);
    --article-title-color: var(--ligth-black);

    --article-text-color: var(--ligth-black);

    --stylized-element-color: var(--ligth-black);

    --rec-display: none;
  }
} 