/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-path: url("../images/cover-image.png");

  --main-font-family: 'IBM Plex mono', monospace;
  --main-line-height: 1.3;

  --pink: #FF0070;
  --pudra: #F1B2CE;
  --violet: #DB00FF;
  --black: #000028;
  --ligth-pink: #FF8DCB;
  --light-pudra: #FFC2E6;
  --light-black: #353430;

  --bg-color: var(--black);

  --title-color: var(--violet);
  --title-subcolor: var(--pink);

  --header-button-color: var(--pink);

  --section-title-color: var(--pink);

  --article-title-bg-color: var(--pink);
  --article-title-color: var(--black);

  --article-text-color: var(--light-pink);

  --stylized-element-color: var(--pink);

  --rec-display: block;
}